



body {
    width: 100vw;
    height: 100vh;
    background-color: #8adce9;
    overflow: hidden;
    overflow-y: scroll
}
::-webkit-scrollbar{
    display: none
}

 @tailwind base;
@tailwind components;
@tailwind utilities; 